@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,600&family=Manrope:wght@400;600&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 400px auto;
    background-color: #815034;
    gap: 50px;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
    background-color: #1d130e;
    color: #e9e5dc;
    font-size: 25px;
    padding: 20px;
}

button {
    font-size: 20px;
    padding: 10px;
}

#form-container {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 50px;
}

form {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    background-color: #cc9e7b;
    padding: 20px;
}

input,
select {
    font-size: 20px;
    padding: 10px;
}

select {
    width: 100%;
}

.submit {
    width: 100%;
    margin-top: 20px;
    background-color: #1d130e;
    color: #e9e5dc;
}



#shelf {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px;
}

.book-card {
    max-height: 304px;
    /* display: grid;
    grid-template-rows: repeat(5, 1fr); */
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 30px;
    border-top-left-radius: 50px;
    background-color: #1d130e;
    color: #e9e5dc;
}

.author,
.year,
.read,
.return {
    font-size: 25px;
    font-weight: bold;
    background-color: #cfb6a2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.author {
    padding-top: 20px;
}

.read {
    padding-bottom: 20px;
}

.return {
    font-size: 20px;
    border-top: 2px black solid;
    background-color: #cc9e7b;
    color: #1d130e;
    border-bottom-right-radius: 50px;
    padding: 15px;
}